	<!DOCTYPE html>
<html>
    <head>
        <title>Birthday Texter</title>

        <!--  Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <!-- simple theme -->
        <link class="theme2" href="/css/simple/assets/css/font-awesome.min.css" rel="stylesheet" title="simple">
        <link class="theme2" href="/css/simple/assets/css/main.css" rel="stylesheet" title="simple">
        <link class="theme2" href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css' title="simple">
        <link class="theme2" href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css' title="simple">
<!--         <link class="mainstyle" href="/css/style.css" rel="stylesheet" type='text/css' title="mainstyle"> -->
   </head>
  <body>
		<h1> That's all, folks!<h1>
		<h3> Would you like to send another birthday text?</h3>
		<a href="views/index.erb">Yes</a>
    
    
    
    
    
    
    
      <!-- this part below stays for the background and jquery -->
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <!--BACKSTRETCH-->
        <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
        <script type="text/javascript" src="/css/simple/assets/js/jquery.backstretch.min.js"></script>
        <script>
                    $.backstretch("/css/simple/assets/img/bg-birthday.jpg", {speed: 900});
        </script>
  </body>
</html>