<!DOCTYPE html>
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
<!-- Optional theme -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"> -->
<!-- Latest compiled and minified JavaScript -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
  </head>
  <body>
    <div class="row">
      <div class="container">
        <h2>Birthday Texter<h2>
          <p>Send a birthday greeting<p>        
       
          <form method="POST" action="/message-previewer">
            <p>Enter a few things...</p>
            <p> What's your name </p>
            <input type="text" name="from_name" placeholder="Enter your name">
            <p> What's your friend's name </p>
            <input type="text" name="to_name" placeholder="Enter your friend's name">
            <p> What's your friend's birthday </p>
            <input type="date" name="to_bday" placeholder="Friends Birthday">
            <p> Your friend's phone number?</p>
            <input type="phone" name="to_phone"  placeholder="Friends Phonenumber">
            <input type="submit" value="Preview">

          </form>
          </div></div>
        </body>
      </html>