<body>
	<title>Preview of Your Message</title>
	<h1> Please confirm that you want to send the below message to the specificed phone number. </h1>
	<h2>Your Message Is: </h2>
	<br>
	<h3><%= @message %></h3>
	<h2>Recipient Phone Number:</h2>
	<h3><%= @to_phone %></h3>
	<form method="POST" action="/message-sender">
		<input name="message" value="<%= @message %>" hidden=yes>
		<input name="to_phone" value="<%= @to_phone %>" hidden=yes>
		<input type=submit value="Yes, send message!">
	</form>
</body>